<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="enteredFilter" (keyup)="searchThought()">
      <img src="/img/lupa.png" alt="Lupa azul">
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button class="botao" routerLink="/criar-pensamentos">Adicionar Pensamento</button>
  </header>
  @if(listThought){
    <div class="mural">
      @for (thought of listThought; track thought){
        <div>
          <app-thought [enteredThought]="thought"/>
        </div>
      }
    </div>
  } @else {
    <div class="sem-pensamentos ff-inter">
      <p>Ainda não há pensamentos cadastrados!</p>
    </div>
  }
  <app-load-more-button [hasMoreThoughts]="hasMoreThoughts()"
  (click)="LoadMoreThoughts()"></app-load-more-button>
</section>
