<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:</h2>
  </header>
  <form>
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Digite o pensamento"
      [(ngModel)]="entradaPensamento"
    />
    <label for="autoria">Autoria</label>
    <input
      type="text"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Digite a autoria ou fonte"
      [(ngModel)]="entradaAutoria"
    />
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo-card"
            [(ngModel)]="modeloCard"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo1</span>
        </label>
        Prévia:
        <app-thought [entradaPensamento]="entradaPensamento()" [entradaAutoria]="entradaAutoria()" modeloPensamento="modelo1"></app-thought>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            name="modelo-card"
            [(ngModel)]="modeloCard"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo2</span>
        </label>
        Prévia:
        <app-thought [entradaPensamento]="entradaPensamento()" [entradaAutoria]="entradaAutoria()" modeloPensamento="modelo2"></app-thought>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            name="modelo-card"
            [(ngModel)]="modeloCard"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>modelo3</span>
        </label>
        Prévia:
        <app-thought [entradaPensamento]="entradaPensamento()" [entradaAutoria]="entradaAutoria()" modeloPensamento="modelo3"></app-thought>
      </div>
    </div>
    <div class="acoes">
      <button class="botao" (click)="criarPensamento()">Salvar</button>
      <button
        class="botao"
        (click)="cancelarPensamento()"
        routerLink="/listar-pensamentos"
      >
        Cancelar
      </button>
    </div>
  </form>
</section>
